* {
    margin: 10;
    padding: 0;
    border: none;
}

body {
    font-size: 14px;
    background-color: #333333;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}